.acf_postbox .field input[type="url"] {
    width: 100%;
    padding: 5px;
    resize: none;
    margin: 0;
}

.acf-bbutton-fild{
    background-color: #F9F9F9;
    padding: 10px;
}

.acf-bbutton-fild > .acf-bbutton-subfield .acf-label {
    margin: 0 0 5px;
    padding: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
    letter-spacing: 1px;
}

.acf-bbutton-fild .acf-bbutton-subfield {
    padding-bottom: 15px;
}

.acf-bbutton-fild .acf-bbutton-subfield:last-child {
    padding-bottom: 0px;
}